/* EmotiChat Header */
.mainHeader {
    font-size: 2em;
    font-weight: bold;
    color: white;
    background-color: #9475a2;
    text-align: center;
    padding: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.chatContainer {
    width: 60%;
    margin: auto;
    background-color: #f0c4ff;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* Emotions Header */
.header {
    display: flex;
    font-size: 1.5em;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #d39de6;
}

.groupChatInfo {
    display: flex;
    align-items: center;
}

.groupChatPhoto {
    background-size: cover;
    border-radius: 50%;
}

.groupChatName {
    font-weight: bold;
    font-size: 1.2em;
    color: white;
    margin-left: 15px;
}

.headerIcons {
    display: flex;
    gap: 15px;
}

.icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

/* Messages Section */
.messagesSection {
    padding: 15px;
    flex: 1;
    overflow-y: auto;
    background-size: cover;
    background-blend-mode: lighten;
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.profilePicture {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ddd;
    margin-right: 50px;
}

.name {
    font-weight: bold;
    font-size: 1em;
    color: #f0c4ff;
}

.text {
    margin-top: 5px;
    font-size: 1.5em;
}

/* Input Section */
.inputSection {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #e0baff;
    border-radius: 0 0 15px 15px;
}

.inputIcons {
    display: flex;
    gap: 15px;
    margin-right: 10px;
}

.messageInput {
    flex: 1;
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
    outline: none;
}

/* Messages Section */
.messagesSection {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.leftMessages,
.rightMessages {
    width: 48%;
}

.message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.icon.add,
.icon.gif,
.icon.sticker,
.icon.send {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.icon:hover {
    transform: scale(1.1);

}